* {
    font-family: 'BioRhyme', serif;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Source Sans Pro';
}
body {
    background-color: hsl(212, 45%, 89%);
}

.attribution {
    font-size: 17px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.main-shape {
    background-color: hsl(0, 0%, 100%);
    border: solid 5px white;
    height: 400px;
    width: 240px;
    margin: auto;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 1px 3px 10px rgba(0, 0, 0, 0.05);
    /*box-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;*/
}

.qr-shape {
    border: solid 0px transparent;
    width: 100%;
    /*height: 55%;*/
    border-radius: 15px;
    position: absolute;
    /*margin: auto;*/
    /*margin: 5px;*/
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
}

.qr-img {
    z-index: 0;
}
#heading {
    position: absolute;
    bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
}

